@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family: "Tauri", sans-serif;
    --background: 210, 20%, 10%;
    --foreground:209, 63%, 90%;

    --card: 210, 20%, 15%;
    --card-foreground: 210, 20%, 70%;

    --popover: 210, 20%, 15%;
    --popover-foreground: 210, 20%, 70%;

    --primary:210, 62%, 35%;
    --primary-foreground:209, 61%, 86%;

    --secondary: 210, 50%, 30%;
    --secondary-foreground: 210, 20%, 70%;

    --muted: 210, 50%, 30%;
    --muted-foreground: 210, 20%, 70%;

    --accent: 210, 100%, 50%;
    --accent-foreground: 210, 20%, 70%;

    --destructive: 0, 100%, 50%;
    --destructive-foreground: 210, 20%, 70%;

    --border: 210, 30%, 20%;
    --input: 210, 30%, 20%;
    --ring: 210, 20%, 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family);
  }
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: normal;
  }
}